@{
    ViewBag.Title = "About Dare";
}
<h2>@ViewBag.Title.</h2>


<p>
    Here at Dare, we wanted to change the way people partake in social media challenges.
    We wanted to make an app that would let you show your friends and family all the cool and crazy things you do, we also wanted you to have the ability to challenge your friends and family.
    Dare was brought to life by Danny Edwards who wanted to challenge your friends and family anytime, anywhere. But Danny didn't know how to take his idea from thought to concept. So he brought it to a group of people to help make his dream a reality.
    And that is how the Dare Team came to be and on that team, we have our fearless leader dan<img src="~/Content/Dan.jpg" alt="danny" width="100" height="100" />  me Josh Annis<img src="~/Content/Me.jpg" alt="josh" width="100" height="100" />
    Hannah Scherer,<img src="~/Content/Hannah.jpg" alt="hannah" width="100" height="100" /> and Connor<img src="~/Content/Connor.jpg" alt="connor" width="100" height="100" />, Joe<img src="~/Content/Joe.jpg" alt="joe" width="140" height="100" />, Adam<img src="~/Content/Adam.jpg" alt="adam" width="100" height="100" />, And Ray<img src="~/Content/Ray.jpg" alt="ray" width="100" height="100" />
</p>



<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Our Base of opp</h3>
    <div id="map"></div>
    <script>
      function initMap() {
          var uluru = {lat: 43.034432, lng: -87.911653};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        //var marker = new google.maps.Marker({
        //  position: uluru,
        //  map: map
        //});
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyti0b2a2Pz_sc9TKJPr09nEoBOne6Lbo&callback=initMap">
    </script>
</body>

